# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/CMakeCache.txt
Debug/Makefile
Debug/cmake_install.cmake
Debug/CMakeFiles/CMakeDirectoryInformation.cmake
Debug/CMakeFiles/CMakeOutput.log
Debug/CMakeFiles/Makefile.cmake
Debug/CMakeFiles/Makefile2
Debug/CMakeFiles/TargetDirectories.txt
Debug/CMakeFiles/cmake.check_cache
Debug/CMakeFiles/feature_tests.bin
Debug/CMakeFiles/feature_tests.c
Debug/CMakeFiles/feature_tests.cxx
Debug/CMakeFiles/progress.marks
Debug/CMakeFiles/3.5.1/CMakeCCompiler.cmake
Debug/CMakeFiles/3.5.1/CMakeCXXCompiler.cmake
Debug/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_C.bin
Debug/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_CXX.bin
Debug/CMakeFiles/3.5.1/CMakeSystem.cmake
Debug/CMakeFiles/3.5.1/CompilerIdC/CMakeCCompilerId.c
Debug/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Debug/CMakeFiles/Cmprss.dir/CXX.includecache
Debug/CMakeFiles/Cmprss.dir/DependInfo.cmake
Debug/CMakeFiles/Cmprss.dir/build.make
Debug/CMakeFiles/Cmprss.dir/cmake_clean.cmake
Debug/CMakeFiles/Cmprss.dir/depend.internal
Debug/CMakeFiles/Cmprss.dir/depend.make
Debug/CMakeFiles/Cmprss.dir/flags.make
Debug/CMakeFiles/Cmprss.dir/link.txt
Debug/CMakeFiles/Cmprss.dir/progress.make
Release/CMakeCache.txt
Release/Makefile
Release/cmake_install.cmake
Release/CMakeFiles/CMakeDirectoryInformation.cmake
Release/CMakeFiles/CMakeOutput.log
Release/CMakeFiles/Makefile.cmake
Release/CMakeFiles/Makefile2
Release/CMakeFiles/TargetDirectories.txt
Release/CMakeFiles/cmake.check_cache
Release/CMakeFiles/feature_tests.bin
Release/CMakeFiles/feature_tests.c
Release/CMakeFiles/feature_tests.cxx
Release/CMakeFiles/progress.marks
Release/CMakeFiles/3.5.1/CMakeCCompiler.cmake
Release/CMakeFiles/3.5.1/CMakeCXXCompiler.cmake
Release/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_C.bin
Release/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_CXX.bin
Release/CMakeFiles/3.5.1/CMakeSystem.cmake
Release/CMakeFiles/3.5.1/CompilerIdC/CMakeCCompilerId.c
Release/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Release/CMakeFiles/Cmprss.dir/CXX.includecache
Release/CMakeFiles/Cmprss.dir/DependInfo.cmake
Release/CMakeFiles/Cmprss.dir/build.make
Release/CMakeFiles/Cmprss.dir/cmake_clean.cmake
Release/CMakeFiles/Cmprss.dir/depend.internal
Release/CMakeFiles/Cmprss.dir/depend.make
Release/CMakeFiles/Cmprss.dir/flags.make
Release/CMakeFiles/Cmprss.dir/link.txt
Release/CMakeFiles/Cmprss.dir/progress.make
